.header {
  display: grid;
  grid-template-columns: 43.5% 31.3% 25.2%;
  justify-content: space-between;
  margin: 91px 24px 95px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 94.1%;
  gap: 5px;
  list-style: circle;
  margin-top: 41px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.link-active {
  text-decoration: none;
}
.header__logo {
  width: 148px;
  height: 105px;
  left: 454px;
  gap: 0px;
}
.header__logo-image {
  width: 93.5%;
}
.address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
}
p {
  margin-right: 0px;
}
.cover {
  display: block;
  position: relative;
  z-index: 5;
  margin: 0px;
  padding: 0px;
  width: 1100px;
  min-height: max-content;
  border: solid 0.1px transparent;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 1100px 759px;
}
.overlay {
  display: block;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 165px 50px 0px;
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  text-transform: uppercase;
}
.aligned-text {
  letter-spacing: 30px;
}
.aligned-text_center {
  align-self: flex-end;
  letter-spacing: 30px;
  line-height: 156px;
}
.letter-spacing-extended-center {
  margin-right: 300px;
}
.aligned-text_right {
  align-self: flex-end;
  letter-spacing: 29px;
  line-height: 113px;
}
.letter-spacing-extended-end {
  letter-spacing: 4px;
}
.letter-spacing-extended-left {
  letter-spacing: 30px;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  margin: 107px 50px 41px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
.cover__description-text {
  word-spacing: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  color: #ffffff;
  text-transform: uppercase;
}
.bet-button {
  margin-left: 4px;
  padding: 12px 32px 11px 32px;
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;
}
.lots {
  margin: 188px 24px 0px;
  width: 1052px;
  top: 1229px;
  left: 24px;
  gap: 0px;
}
.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  color: black;
  text-transform: uppercase;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 334px 334px 334px;
  grid-column-gap: 25px;
  padding-top: 25px;
  padding-bottom: 32px;
  list-style-type: none;
}
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}
.card {
  display: block;
  position: sticky;
  z-index: -1;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  text-decoration: none;
  border: solid 0.1px transparent;
  z-index: -1;
}
.card__title {
  margin: 50px 40px 0px 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: #ffffff;
}
.card-link {
  text-transform: uppercase;
  text-decoration: underline white;
}
.card__text {
  margin: 0px 40px 46px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: bottom;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: bottom;
}
.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  color: black;
}
.about {
  margin: 119px 24px 0px;
}
.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 8px;
}
.logo_column {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  padding-right: 13px;
}
.text_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__logo {
  width: 240px;
  height: 240px;
  top: 35px;
  left: 47px;
  gap: 0px;
  background-color: black;
  border-radius: 50%;
}
.about__logo-image {
  position: relative;
  width: 148px;
  height: 114px;
  top: 64px;
  left: 46.48px;
  gap: 0px;
}
.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  word-spacing: -0.5px;
  padding-bottom: 23px;
}
.about__title {
  margin: 136px 0px 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 157px 50px 88px;
  min-height: 180px;
}
.footer__menu-list {
  padding-left: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  list-style: none;
}
.footer__social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 48px;
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
  gap: 0px;
  border: 1px;
}
